.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 30px;
}

.logo{
  font-size: 36px;
  font-weight: 700;
}