<section class="mainscreen">
  <header class="header">
    <div class="header__container">
      <div class="logo">FurniShop</div>
      <app-menu></app-menu>
    </div>
  </header>
  <div class="container">
    <h1 class="main__title">Creative Home Simpify your Furniture</h1>
    <p class="main__subtitle">Do i have consent to record this meeting gain locaion, root-and-branch, review, nor game plan who’s the goto</p>
    <button class="btn main-btn">Shop Now</button>
  </div>
</section>









