<footer class="footer">
  <div class="footer__container container">
    <div class="footer__container__top flex">
      <h3 class="footer__logo">FurniShop</h3>
      <p>© SanyaVlad incorporated 2022 - All Rights Reserved</p>
      <ul class="footer__socialmedia__list flex">
        <li class="footer__socialmedia__list__item" *ngFor="let item of footerSocial">
          <a href="">
            <img class="social__img" src="{{item.img}}" alt="oops">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>