@import "~swiper/css";
@import "~swiper/css/pagination";

.slider {
  text-align: center;
  color: black;
}

.slider__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.4;
}

.slider__subtitle {
  margin: 16px auto 69px auto;
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.65;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slider__wrap__grid {
  padding: 0 0 50px 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 290px);
  grid-template-rows: repeat(2, 380px);
  column-gap: 27px;
  row-gap: 60px;
}

.slider__wrap__grid-item {
  width: 100%;
  height: 100%;
}

.slider__item-img {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 12px;
}

.slider__item-title {
  text-align-last: left;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  text-transform: capitalize;
}

.slider__item-price-new {
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.65;
}

.slider__item-price-old {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.65;
  text-decoration-line: line-through;
  color: #23262F;
  opacity: 0.5;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 !important;
  background: transparent;
  border: 1px solid #23262F;
  transition: all .3s;
  opacity: 1;
}

.swiper-pagination-bullet:not(:last-child) {
  margin: 0 15px 0 0 !important;
}

.swiper-pagination-bullet-active {
  background: #23262F;
}