

.wedo {
  width: 100%;
  height: 100vh;
}

.main__info{
  margin: 85px 0;
  padding: 38px 38px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #286F6C;
  border-radius: 20px;
}







.main-btn:hover{
  transform: scale(1.2);
  background: rgba(226, 226, 226, 0.4);
}

.main__info-column:not(:last-child){
  border-right: 1px solid white;
}

.main__info-bold{
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}

.main__info-normal{
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: .01em;
}

.wedo__what{
  display: flex;
}

.wedo__img{
  border-radius: 15px;
  margin-right: 100px;
}

.wedo__des{
  color: black;
}

.wedo__des__title{
  margin-bottom: 14px;
  min-width: 503px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  text-transform: capitalize;
}

.wedo__des__subtitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
}

.wedo__header{
  margin-top: 38px;
}

.wedo__header__top{
  display: flex;
  margin-bottom: 8px;
}

.wedo__header__des{
  margin-left: 19px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.wedo__header__low__des{
  margin-left: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.wedo__header__low__des:not(:last-child){
  margin-bottom: 25px;
}