.hero {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url(./../../assets/img/bg-hero.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.counter {
  display: block;
}

.wedo {

}

.form {
  padding: 100px 0 0 0;
  display: block;
  width: 100%;
  height: 490px;
  background-image: url(./../../assets/img/form-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}