<section class="newprod">
  <div class="container">
    <div class="newprod__grid">
      <div class="newprod__grid__des">
        <h3 class="newprod__grid__des-title">New In Store Now</h3>
        <p class="newprod__grid__des-text">Get the latest items immediately with promo prices</p>
        <button class="btn newprod-btn">Check All <img src="./../../../assets/icons/ArrowR.svg" alt=""> </button>
      </div>
      <div class="newprod__grid__card chair">
        <p class="newprod__grid__card-des">Chair</p>
      </div>
      <div class="newprod__grid__card bed">
        <p class="newprod__grid__card-des">Bed</p>
      </div>
      <div class="newprod__grid__card cupboard">
        <p class="newprod__grid__card-des">Cupboard</p>
      </div>
      <div class="newprod__grid__card lights">
        <p class="newprod__grid__card-des">Lighting</p>
      </div>
    </div>
  </div>
</section>
